---
import { Image } from "astro:assets";

import carousel1 from "../assets/carousel1.jpg";
---

<section
  class="min-h-screen w-full bg-black text-light px-6 lg:px-32 pt-36 pb-20 flex flex-col lg:flex-row items-center"
>
  <div
    class="w-full h-[70vh] flex flex-col lg:flex-row justify-between items-end gap-10 lg:gap-16"
  >
    <div
      class="flex flex-col justify-end items-start gap-10 lg:order-2 lg:max-w-2/5 lg:pb-24 relative h-full"
    >
      <div
        class="flex flex-col gap-10 lg:absolute lg:top-1/2 lg:-translate-y-1/2"
      >
        <h2 class="text-2xl lg:text-6xl max-w-4/5">
          Discover <b>The Excellence</b> Behind Every <b>Detail</b> Of Our <b
            >Creations</b
          >
        </h2>
        <div class="h-0.5 w-[70%] self-start bg-light lg:bg-brown"></div>
      </div>

      <p
        class="text-lg lg:text-3xl lg:font-light lg:max-w-4/5 lg:leading-normal"
      >
        Mutati manages a limited record of two annual interior projects. Each
        cabin is a bespoke architectural asset designed under FAA certification
        standards and reserved exclusively for the Holder.
      </p>
    </div>

    <div
      class="w-full h-full max-w-4xl lg:max-w-1/2 flex flex-col items-center lg:order-1"
    >
      <div class="swiper mx-0! w-full h-fit">
        <div class="swiper-wrapper">
          <div class="swiper-slide relative flex items-center justify-center">
            <a
              class="absolute inset-0 bg-black/60 font-light transition-colors duration-300 text-light text-2xl text-center content-center"
            >
              View Project
            </a>
            <Image
              src={carousel1}
              alt="Project 1"
              class="w-full object-cover"
            />
          </div>
          <div class="swiper-slide">
            <Image
              src={carousel1}
              alt="Project 2"
              class="w-full object-cover"
            />
          </div>
          <div class="swiper-slide">
            <Image
              src={carousel1}
              alt="Project 2"
              class="w-full object-cover"
            />
          </div>
          <div class="swiper-slide">
            <Image
              src={carousel1}
              alt="Project 2"
              class="w-full object-cover"
            />
          </div>
          <div class="swiper-slide">
            <Image
              src={carousel1}
              alt="Project 2"
              class="w-full object-cover"
            />
          </div>
          <div class="swiper-slide">
            <Image
              src={carousel1}
              alt="Project 2"
              class="w-full object-cover"
            />
          </div>
          <div class="swiper-slide">
            <Image
              src={carousel1}
              alt="Project 2"
              class="w-full object-cover"
            />
          </div>
          <div class="swiper-slide">
            <Image
              src={carousel1}
              alt="Project 2"
              class="w-full object-cover"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination mt-6 relative!"></div>
    </div>
  </div>
</section>
<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/pagination";

  new Swiper(".swiper", {
    modules: [Pagination],
    pagination: { el: ".swiper-pagination", clickable: true },

    slidesPerView: 1,
    spaceBetween: 20,
  });
</script>

<style>
  :global(.swiper-pagination-bullet) {
    background-color: #e8e3e1 !important;
    @media (min-width: 1024px) {
      aspect-ratio: 1/1 !important;
      width: 0.75rem !important;
      margin-left: 0.75rem !important;
      height: auto !important;
    }
  }
  :global(.swiper-pagination-bullet-active) {
    background-color: white !important;
  }
</style>
