---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import FooterMobile from "../components/FooterMobile.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
}

const {
  title = "Mutati Design | Home",
  description = "Mutati Design - Elevating Craftsmanship, Mastering Details. Interior design and architectural solutions.",
  image = "/og-image.jpg", // Asegúrate de que esta imagen exista o cámbiala
  canonicalURL = Astro.url.href,
} = Astro.props;
---

<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>
  <body>
    <Navbar />
    <slot />
    <div class="footer-desktop-wrapper">
      <Footer />
    </div>

    <div class="footer-mobile-wrapper">
      <FooterMobile />
    </div>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    z-index: -20;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
  }

  /* Ocultar barra en Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Lógica de visibilidad */
  .footer-mobile-wrapper {
    display: block;
  }
  .footer-desktop-wrapper {
    display: none;
  }

  @media (min-width: 768px) {
    .footer-mobile-wrapper {
      display: none;
    }
    .footer-desktop-wrapper {
      display: block;
    }
  }
</style>
