---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Contact from "../components/Interiors/Contact.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
}

const {
  title = "Mutati Design | Interior",
  description = "Detailed interior designs and architectural solutions by Mutati.",
  image = "/og-image.jpg",
  canonicalURL = Astro.url.href,
} = Astro.props;
---

<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>
  <body>
    <Navbar />
    <slot />
    <Contact />
  </body>
</html>

<style>
  html {
    scroll-snap-type: y mandatory;
  }

  html,
  body {
    z-index: -20;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
